<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>About</title>
</head>
<body>
	<div class="border">
		<div>
			{% include "navbar.html" %}    
		</div>

		<div style="font-size: 20px; width: 90%; margin: auto;">
			<h2>Roshni India Motors</h2>
			<p>
				<b>Established in year 2010</b>, We, <b>Roshni India Motors</b>, are acknowledged in the industry as one of the prominent organizations, which is engaged in <b>Manufacturing, Wholesaling and Trading</b>  a comprehensive range of <b>Air Filters, Diesel Filters, Hydraulic Filters, Oil Filters and much more</b>. Completed in agreement with set industry norms and standards at our end, offered range is highly cherished among clients for their sturdiness, accurate designs and longer working life. High performance, low maintenance and easy installation are some of the highlighting features of our offered range of products. To suit the demands of customers, we are providing these products in different specifications.
			</p>
			<p>
				<b>Mr. Himanshu Rathtore (Owner)</b> is the mentor of our organization, whose knowledge and expertise has enabled us to gain huge customer-base.
			</p>

			<div style="border: 1px solid white;">
				<table width="100%" cellspacing="5px" cellpadding="5px">
					<tr>
						<th colspan="2" style="font-size: 24px;">Basic Information</th>
					</tr>
					<tr>
						<td style="width: 30%;">Nature Of Business</td>
						<td>OEM Manufacturer</td>
					</tr>
					<tr>
						<td>Additional Business</td>
						<td>Distributor<br>Manufacturer<br>Exporter<br>Wholesaler<br>Trader<br>Retailer<br>Supplier</td>
					</tr>
					<tr>
						<td>Company CEO</td>
						<td>Vinod Rathore</td>
					</tr>
					<tr>
						<td>Registered Address</td>
						<td>1/55, Ram Bazar, Kashmere Gate, , Delhi- 110006, Delhi, India</td>
					</tr>
					<tr>
						<td>Total Number of Employees</td>
						<td>26 to 50 People</td>
					</tr>
					<tr>
						<td>Year of Establishment</td>
						<td>2010</td>
					</tr>
					<tr>
						<td>Legal Status of Firm</td>
						<td>Individual - Proprietor</td>
					</tr>
					<tr>
						<td>Annual Turnover</td>
						<td>Upto Rs. 50 Lakh</td>
					</tr>
				</table>
			</div>

			<div style="border: 1px solid white;">
				<table width="100%" cellspacing="5px" cellpadding="5px">
					<tr>
						<th colspan="2" style="font-size: 24px;">Statutory Profile</th>
					</tr>
					<tr>
						<td style="width: 30%;">Banker</td>
						<td>HDFC BANK</td>
					</tr>
					<tr>
						<td>GST Number</td>
						<td>07AGUPR7611J1ZQ</td>
					</tr>
				</table>
			</div>

			<div style="border: 1px solid white;">
				<table width="100%" cellspacing="5px" cellpadding="5px">
					<tr>
						<th colspan="2" style="font-size: 24px;">Packaging/Payment and Shipment Details</th>
					</tr>
					<tr>
						<td style="width: 30%;">Customized Packaging</td>
						<td>Yes</td>
					</tr>
					<tr>
						<td>Payment Mode</td>
						<td>Cash<br>Credit Card<br>Cheque<br>DD<br>Invoice<br>Online</td>
					</tr>
					<tr>
						<td>Shipment Mode</td>
						<td>By Road</td>
					</tr>
				</table>
			</div>
		</div>

		<div style="width: 95%; margin: auto; font-size: 20px;">
			<h2>Why Us?</h2>
			<p>Since our incorporation in this industry, we have been steady in providing superior quality array of products in accordance with the requirements of our clients.</p>

			<h4>Following are some of the factors:</h4>
			<ul>
			  	<li>Strong focus on quality compliance</li>
			  	<li>Easy mode of payment</li>
			  	<li>Timely delivery</li>
			</ul>

			<h2>Brands We Deal In -</h2>
			<ul>
				<li>Limco</li>
				<li>Robomax</li>
				<li>Sowkur</li>
				<li>Sakura</li>
				<li>Lefong</li>
				<li>Vica</li>
			</ul>
		</div>

		<div>
			{% include "footer.html" %}    
		</div>
	</div>
</body>