<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/css.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Roshni India Motor - Admin</title>
</head>
<body>
	<div class="border">
		<div>
			{% include "navbar.html" %}    
		</div>

		<div class="grid">
			<table>
				<tr>
					<td>
						<button onclick="location.href='{% url 'add_product' %}'">Add Product</button>
					</td>
					<td>
						<button onclick="location.href='{% url 'enqueries' %}'">View Enquery</button>
					</td>
				</tr>

				<tr>
					<td>
						<button onclick="location.href='{% url 'vreviews' %}'">View Reviews</button>
					</td>
					<td>
						<button onclick="location.href='{% url 'logout' %}'">Sign Out</button>
					</td>
				</tr>
			</table>
		</div>

		<div>
			{% include "footer.html" %}    
		</div>

	</div>
</body>
</html>