<div class="f_div">
	<h2>Get In Touch with Us.</h2>
	<table id="location">
		<tr>
			<th rowspan="2">Roshni India <br>Motors</th>
			<td style="text-align: center;"><i class="fa fa-map-marker" aria-hidden="true"></i> 1/55, Ram Bazar, Kashmere Gate, Delhi-110006, India<br><i><a href="https://www.google.com/maps/place/Roshni+India+Motor/@28.6640825,77.2223102,17z/data=!3m1!4b1!4m5!3m4!1s0x390cfd094e431fb7:0x7fd305b715f6fe10!8m2!3d28.6640778!4d77.2248905" target="_blank">Get Directions</a></i></td>
			<td>
				<i class="fa fa-phone" aria-hidden="true"></i> 08046054377
			</td>
		</tr>
		<tr>
			<td><i class="fa fa-user"></i> Vinod Rathore [CEO]</td>
			<td>
				<i class="fa fa-envelope" aria-hidden="true"></i> 
				<a href="mailto:rimfilter@gmail.com" class="a1" target="_blank">rimfilter@gmail.com</a>
			</td>
		</tr>

		<tr style="font-size: 15px;">
			<td><button onclick="location.href='{% url 'reviews' %}'">Submit Review</button></td>
			<td></td>
			<td><button onclick="location.href='{% url 'enqueryy' %}'">Submit Enquery</button></td>
		</tr>
	</table>
</div>

